* {
    box-sizing: border-box;
    --header: #245c94;
    --background: #0b131e;
    --tile: #202b3b;
    --text: white;
    --card: #95b4d45f;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
}

.icon {
    position: relative;
    top: 15px;
}

p {
    line-height: 1.8;
}

header {
    padding: 5px;
    text-align: center;
    color: var(--text);
    background: var(--header);
}

main {
    display: flex;
    background-color: var(--background);
}

aside {
    flex: 20%;
    padding: 20px;
    margin: 1%;
    color: var(--text);
    background-color: var(--tile);
    height: 80vh;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    box-sizing: border-box;
}

.btn-custom {
    background: var(--header);
    color: white;
    border-style: outset;
    border-color: var(--header);
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
}

.btn-custom:hover {
    background-color: #2581b6;
}

#weather{
    display: flex;
    flex-direction: column;
    flex: 80%;
    
}

#currentWeather {
    height: 25vh;
    margin: 1%;
    background-color: var(--tile);
    border-radius: 10px;
    padding-left: 20px;
}
#fiveDayForecast {
    background-color: var(--tile);
    margin: 1%;
    padding: 20px;
    border-radius: 10px;
}

#divWrap {
    display: flex;
}

.forecast{
    padding-left: 20px;
    padding-right: 20px;
    width: 20%;
    margin: 25px;
    background-color: var(--card);
    border-radius: 10px;
}

.history {
    display: flex;
    color: white;
    border: none;
    background: none;
    height: 45px;
}